<div class="form-group">
    <label class="col-lg-3 control-label">Пол</label>
    <div class="col-lg-9">
        <div class="radio">
            <label>
                <input name="optionsRadios" id="optionsRadios0 value="option0" checked="" type="radio"> Не казвам
            </label>
        </div>
        <div class="radio">
            <label>
                <input name="optionsRadios" id="optionsRadios1" value="option1" type="radio"> Мъж
            </label>
        </div>
        <div class="radio">
            <label>
                <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio"> Жена
            </label>
        </div>
    </div>
</div>