<div class="panel panel-warning" id="login-warning-homepage">
    <div class="panel-heading" id="login-heading-homepage">
        <h3 class="panel-title">Влез</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="/login">
            <div class="form-group">
                <input class="form-control" value="{{userNameLogin}}" id="inputUser" placeholder="Потребителско име" title="Потребителско име" type="text" name="userNameLogin">
                <p class="text-danger">{{userNameLoginError}}</p>
            </div>
            <div class="form-group">
                <input class="form-control" id="inputPassword" placeholder="Парола" title="Парола" type="password" name="passwordLogin">
                <p class="text-danger">{{passwordLoginError}}</p>
            </div>
            <p class="text-danger">{{generalError}}</p>
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7">
                    <a href="#forgot-modal" role="button" data-toggle="modal" id="forgot-pass">Забравена парола</a>
                    <div class="modal" id="forgot-modal">
                        {{> forgot}}
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <button type="submit" class="btn btn-primary">Влез</button>
                </div>
            </div>
            <div class="col-lg-7 col-md-9 col-sm-12 pull-right facebook">
                <a href="/auth/facebook">
                    <img src="/img/facebook.png">
                </a>
            </div>
        </form>
    </div>
</div>