<div class="panel panel-warning" id="login-warning-homepage">
    <div class="panel-heading" id="login-heading-homepage">
        <h3 class="panel-title">Влез</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="/login">
            <div class="form-group">
                <input class="form-control" value="{{userNameLogin}}" id="inputUser" placeholder="Потребителско име" title="Потребителско име" type="text" name="userNameLogin">
                <p class="text-danger">{{userNameLoginError}}</p>
            </div>
            <div class="form-group">
                <input class="form-control" id="inputPassword" placeholder="Парола" title="Парола" type="password" name="passwordLogin">
                <p class="text-danger">{{passwordLoginError}}</p>
            </div>
            <p class="text-danger">{{generalError}}</p>
            <button type="submit" class="btn btn-primary">Влез</button>
        </form>
    </div>
</div>