<div>
{{#each messageContents}}
    <div class="message-wrapper">
        <img class="tvit-avatar" src='{{author.picture}}'>
        <blockquote>
            <small><a href="/{{author.userName}}">{{author.userName}}</a>{{#ifCond location '!==' ''}}<cite title="Source Title">, {{location}}</cite>
                {{/ifCond}}
            </small>                                
            <a data-user="{{author.userName}}" data-content="{{plainContent}}" data-location="{{location}}" class="retvit">Retvit!</a>   
            {{#ifCond retvitedFrom '!==' undefined}}
            <div>Retvited from: {{retvitedFrom}}</div>  
             {{/ifCond}}                       
            <p>{{{content}}}</p>
        </blockquote>
        {{#ifCond author.userName '===' ../loggedUser}}            
            <img class="delete-btn" data-id="{{_id}}" src="../img/delete.png">
        {{/ifCond}}
        <div class="time">{{time}}</div>
    </div>
{{/each}}
</div>