<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Твитър</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Профил <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/{{loggedUser}}">Преглед</a>
                        </li>
                        <li><a href="/edit">Промяна</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/feed">Стена</a>
                </li>
                <li>
                    <a href="/followers">Следват те</a>
                </li>
                <li>
                    <a href="/following">Следваш</a>
                </li>
                <li>
                    <a href="/users">Потребители</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{#if this}}
                <li>
                    <form class="navbar-form navbar-left" method="get" action="/search">
                        <input class="form-control col-lg-10" placeholder="Търси по хештагове" type="text" name="query">
                        <button type="submit" class="btn btn-warning" id="search-btn">Търси</button>
                    </form>
                </li>
                {{/if}}
                <li>
                    <a href="/logout">Излез</a>
                </li>
            </ul>

        </div>
    </div>
</div>