<div class="panel panel-warning" id="register-warning-homepage">
    <div class="panel-heading" id="register-heading-homepage">
        <h3 class="panel-title">Регистрирай се</h3>
    </div>
    <div class="panel-body">        
        <form method="post" action="/register">
            <p>Всички полета са задължителни.</p>
            <div class="form-group">
                <input class="form-control" value="{{names}}" placeholder="Имена" title="Имена" type="text" name="names">
                <p class="text-danger">{{namesError}}</p>
            </div>
            <div class="form-group">
                <input class="form-control" value="{{userName}}" placeholder="Потребителско име" title="Потребителско име" type="text" name="userName">
                <p class="text-danger">{{userNameError}}</p>
            </div>
            <div class="form-group">
                <input class="form-control" value="{{email}}" placeholder="Електронна поща" title="Електронна поща" type="text" name="email">
                <p class="text-danger">{{emailError}}</p>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Парола" title="Парола" type="password" name="password">
                <p class="text-danger">{{passwordError}}</p>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Повтори паролата" title="Повтори паролата" type="password" name="repeatPassword">
                <p class="text-danger">{{repeatPasswordError}}</p>
            </div>
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </form>
    </div>
</div>
