<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Търсене</h3>
    </div>
    <div class="panel-body">
        <form id="search">
            <div class="form-group has-warning">
                <input class="form-control" id="search-content" placeholder="Търси по хештагове" type="text" name="query" value="{{query}}" autocomplete="off">
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-8">
                    <div class="row">
                        <a id="search-reset" class="btn btn-primary">Изчисти</a>
                        <button type="submit" id="search-btn" class="btn btn-warning">Търси</button>
                    </div>                            
                </div>
            </div>
        </form>
    </div>
</div>