<!DOCTYPE html>
<html lang="en">

<head>
    <title>Чурулик</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="/public/bootstrap/bootstrap-datepicker.css" media="screen">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap-datepicker-styles.css" media="screen">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.css" media="screen">
</head>

<body>
    <div id="background">
        <img src="/img/wallpaper.jpg" class="stretch" alt="cover" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 100px;"></div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="color: #fff">
        <h1 id="title">Чурулик</h1>
        <h2 style="text-align: center">Вход за администратори</h2>
        {{> login}}
    </div>
    
    <script src="../public/bootstrap/jquery-1.js"></script>
    <script src="/public/jquery-migrate.js"></script>
    <script src="../public/bootstrap/bootstrap.js"></script>
    <script src="/public/bootstrap/bootstrap-modal.js"></script>
    <script src="/public/bootstrap/bootswatch.js"></script>
    <script src="../public/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="../public/bootstrap/bootstrap-datepicker.bg.min.js"></script>
    <script src="../public/events.js"></script>  
    <script type="text/javascript">
    $('#sandbox-container .input-append.date').datepicker({
        endDate: "05/20/2015",
        startView: 2,
        language: "bg",
        autoclose: true
    });
    </script>
</body>

</html>