<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Чурулик</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap-datepicker.css" media="screen">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap-datepicker-styles.css" media="screen">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/public/bootstrap/bootswatch.css">
    <link rel="stylesheet" href="/public/jcrop.css">
    <script src="/public/bootstrap/ga.js" async="" type="text/javascript"></script>
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>

<body>
    {{> nav}}
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <form class="form-horizontal" method="post" action="/edit">
                        <fieldset>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Промяна на аватара</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <img class="tvit-avatar" id="avatar" src='{{picture}}'>
                                        <p>{{userName}}</p>
                                        {{> crop}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Промяна на профила</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="inputNames" class="col-lg-3 control-label">Имена<span class="red">*</span></label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="inputNames" placeholder="Имена" type="text" value="{{names}}" name="names">
                                            <p class="text-danger">{{namesError}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-3 control-label">Електронна поща<span class="red">*</span></label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="inputEmail" placeholder="Електронна поща" type="text" value="{{email}}" name="email">
                                            <p class="text-danger">{{emailError}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-lg-3 control-label">Описание</label>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" rows="3" id="description" name="description">{{description}}</textarea>
                                            <span class="help-block">Напишете няколко изречения за себе си, например какви са Вашите интереси и хобита.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTown" class="col-lg-3 control-label">Местонахождение</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="inputTown" placeholder="Местонахождение" type="text" value="{{town}}" name="town">
                                        </div>
                                    </div>
                                    {{> gender}}
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Промяна на паролата (незадължителна форма)</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="inputOldPassword" class="col-lg-3 control-label">Стара парола<span class="red">*</span></label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="inputOldPassword" autocomplete="off" placeholder="Стара парола" type="password" name="oldPassword">
                                            <p class="text-danger">{{oldPasswordError}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-lg-3 control-label">Нова парола<span class="red">*</span></label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="inputPassword" placeholder="Нова парола" type="password" name="password">
                                            <p class="text-danger">{{passwordError}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRepeatPassword" class="col-lg-3 control-label">Повтори новата парола<span class="red">*</span></label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="inputRepeatPassword" placeholder="Повтори новата парола" type="password" name="repeatPassword">
                                            <p class="text-danger">{{repeatPasswordError}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-2">
                                    <a href="/" class="btn btn-default">Отказ</a>
                                    <button type="submit" class="btn btn-primary">Промени</button>
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" value="{{picture}}" name="picture">
                        <input type="hidden" value="{{userName}}" name="userName">
                        <input id="x1" type="hidden" value="0" name="left">
                        <input id="y1" type="hidden" value="0" name="top">
                        <input id="x2" type="hidden" value="0" name="right">
                        <input id="y2" type="hidden" value="0" name="bottom">
                        <input id="w" type="hidden" value="73" name="width">
                        <input id="h" type="hidden" value="73" name="height">
                        <input id="src" type="hidden" value="" name="src">
                        <input id="gender" type="hidden" value="{{gender}}">
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="sponsor">
                        <img src="/img/tweety.png" alt="Туити">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/jquery-2.0.3.js"></script>
    <script src="/public/jquery-migrate.js"></script>
    <script src="/public/bootstrap/bootstrap.js"></script>
    <script src="/public/bootstrap/bootstrap-modal.js"></script>
    <script src="/public/bootstrap/bootswatch.js"></script>
    <script src="../public/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="../public/bootstrap/bootstrap-datepicker.bg.min.js"></script>
    <script src="/public/jcrop.js"></script>
    <script src="/public/crop.js"></script>
    <script src="/public/edit-events.js"></script>
</body>

</html>