<!DOCTYPE html>
<html lang="en">
<head>
    <title>Твитър</title>
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.css" media="screen">
</head>
<body>
    <div id="background">
        <img src="/img/wallpaper.png" class="stretch" alt="cover" />
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 100px; color: #fff">
        <h1 style="text-align: center">Добре дошли в Твитър!</h1>
        <p class="lead">
            Следвайте приятели и непознати - вижте какво правят навяскъде и по всяко време! 
            Опишете всяко едно незначително събитие от деня си и спамете непрестанно своите преследвачи! Сега с ограничение от 140 символа, за да 
            не бъдете ненужно подробни и досадни.
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <h1 id="title">Твитър</h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 60px">
        {{> login}}
        {{> register}}        
    </div>
</body>
</html>
